.list_container {
  list-style: none;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 500vh;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;

  margin-bottom: 50px;
}
