.container {
  max-width: 900px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer_col_1 {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .header_part2 {
    height: 50%;
  }
  .container {
    margin: auto;
    padding: 10px;
  }
}

@media screen and (min-width: 700px) {
  .image_footer {
    margin-top: -12.5rem;
  }
}
