.review_parent {
  background-color: white;
  padding: 2% 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.heading_reviews {
  font-size: 18px;
}

.layout_review_cart {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  .review_parent {
    padding: 2%;
  }
  .layout_review_cart {
    margin: auto;
  }
}
