.costguides_parent {
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.costguides_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 900px;
  width: 100%;
}
.grid {
  gap: 20px; /* Adjust the gap between grid items */
}
.layout_catlog_cart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.heading_costguides {
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (max-width: 1100) {
  .heading_costguides {
    display: flex;

    padding: 0;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .costguides_parent {
    padding: 0;
    display: flex;
    align-items: center;

    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .costguides_parent {
    padding: 2%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .layout_catlog_cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .heading_costguides {
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

@media only screen and (min-width: 2500px) {
  .heading_costguides {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  .heading_costguides {
    font-size: 1.5rem;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0;
    text: center;
  }
  .layout_catlog_cart {
    margin-top: 0.5rem;
    padding: 0;
  }
  .guide_btn {
    padding: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 45%;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 30px;
  }
}
